.payment-div {
  margin-top: 2%;
}
.PaymentRequestButton {
  width: 26% !important;

  margin-left: 40% !important;
}
.main-text {
  text-align: center;
  margin-top: 4%;
  font-size: large;
  font-weight: bold;
}

.sub-text {
  text-align: center;
  margin-top: 8%;
  font-weight: bold;
  color: black;
}
