<div id="footer-main" class="footer">
  <div class="row justify-content-center align-items-center no-gutters">
    <div class="navbar-brand  mt-40">Courtyardly</div>
  </div>
  <div class="row justify-content-center text-center no-gutters mt-50">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12  links ">
      <div class="row justify-content-around align-items-center no-gutters">
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
        <a href="#">Terms of Use</a>
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
  <div class="row no-gutters mt-20"></div>
  <div
    class="row social-icons justify-content-center align-items-center no-gutters mt-5"
  >
    <div
      class="col-lg-4 col-md-4 col-sm-12 col-xs-12 links nopadding text-center"
    >
      <ul class="social-network social-circle">
        <div class="row justify-content-around align-items-center no-gutters">
          <li>
            <a href="#" class="icoLinkedin" title="Linkedin"
              ><img src="../../../../assets/icons/linkedin.svg" class=" mt-10"
            /></a>
          </li>
          <li>
            <a href="#" class="icoFacebook" title="Facebook"
              ><img src="../../../../assets/icons/facebook.svg" class=" mt-10"
            /></a>
          </li>
          <li>
            <a href="#" class="icoInstagram" title="Instagram"
              ><img src="../../../../assets/icons/instagram.svg" class=" mt-10"
            /></a>
          </li>
          <li>
            <a href="#" class="icoTwitter" title="Twitter"
              ><img src="../../../../assets/icons/twitter.svg" class=" mt-10"
            /></a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
