// bootstrap input css
.form-control {
  height: 40px;
  color: #828282 !important;
  line-height: 130% !important;
  border: 1px solid #e0e0e0;
  border-radius: 0px;
}
.form-control:focus {
  color: #828282 !important;
}

.form-control.is-invalid {
  background-image: none !important;
}

button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  box-shadow: none !important;
  outline: none !important;
}

a {
  color: #4f4f4f;
}

a:hover {
  color: #4f4f4f !important;
  // text-decoration: none;
}

.outline-none {
  outline: none;
}

:focus {
  outline: none !important;
}

// pop-up modal override css

.modal-lg {
  max-width: 760px;
}
#logout-modal {
  margin: 12% auto 0px auto;
}
.modal-content {
  border-radius: 0px;
  border: none;
  background-color: #ffffff;
}
.modal-body {
  padding: 2rem;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-open {
  overflow-y: auto !important;
  padding-right: 0px !important;
}

// bootstrap text override

.text-primary {
  color: #4c516e !important;
}

/* radio box css */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 19px;
  display: inline-block;
  // color: #899bb3;
}

[type="radio"]:checked + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 19px;
  display: inline-block;
  // color: #182c4c;
}

[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 26px;
  border: 2px solid #4f4f4f;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 26px;
  border: 2px solid #4f4f4f;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #4f4f4f;
  position: absolute;
  top: 7px;
  left: 7px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.init-spinner-border {
  width: 3rem;
  height: 3rem;
}
